

.logi{
    height: 5px;
    width: 5px;
}

.btn{
    background-color: 	rgb(253, 180, 217);
    border: 2px solid white;

}
.card{
    margin-top: 10px;
}
.btn:hover{
    background-color: black;
}
.card-img-t{
    height:270px;
    border-radius: 50% solid white;
}
.red {
    color: red;
  }
  
  .green {
    color: green;
  }
  
  .yellow {
    color: yellow;
  }
  /*Styling using ngClass*/
  .blue{
    color:blue;
  }
  .shadow{
    text-shadow: 2px 2px 2px rgb(255, 230, 0);
  }
  .size{
    font-size: 18px;
  }
