<h2>Registration Form</h2>
<div class="form">
<div class="card col-lg-6" style="border:none;">
    <div class="card-body col-lg-4">

        <label>Full name</label>
        <input type="text" name="name" placeholder="enter full name"><br><br>
        <label>Email</label>
        <input type="email" name="email" placeholder="enter email"><br><br>
        <label>Contact Number</label>
        <input type="number" name="number" placeholder="Contact Number"><br><br>
        <label>Password</label>
        <input type="password"><br><br>
        <button>submit</button>
    </div>
</div>
</div>